:root {
  --or-font-sans: "soehne";
  --or-font-sans-medium: "soehne kraftig";
  --or-font-serif: "tiempos";
  --or-color-primary: #0b60a9;
  --or-color-primary-light: #9bbfde;

  --or-elevation: 0 4px 8px 2px rgba(0, 0, 0, 10%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 112.5%;
}

body {
  color: hsl(0, 0%, 20%);
  font: 1rem/1.4 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 1rem;
}

main {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 1rem 4rem;
  width: calc(100% - 2rem);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
  margin-bottom: 1.38rem;
}

h1 {
  color: hsl(0, 0%, 25%);
  font-family: var(--or-font-serif);
  font-size: 1.999rem;
}

h2,
h3 {
  font-size: 1.414rem;
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

a {
  color: currentColor;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: 600;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
